<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Calendar, meet maps!</h1>
            <h2>Create maps and step-by-step directions from your Google Calendar. Sign in with your Google account to start.</h2>
            <h2><a href="/authenticate" class="zocial google">Sign In &raquo;</a></h2> 
            <h2><img src="/assets/screenshot.png"></h2>
   
        </div>

</div><!--/wrapper-->