<form action="/foamer" onSubmit="calcRoute();return false;" id="routeForm">
        <div style="overflow: hidden; width: 500px; margin: 0 auto;">
            <div style="width: 350px; float: left; text-align: left;">
                <label>
                    From: <br />
                    <input type="text" id="routeStart" value="">
                </label>
                <label>
                    To: <br />
                    <input type="text" id="routeVia" value="">
                </label>
                <label>
                    Time to Arrive: <br />
                    <input type="text" id="arrivalTime" value="">
                </label>
            </div>
            <div style="width: 150px; float: left; text-align: left;">
                <label>Travel mode:</label>
                <label><input type="radio" name="travelMode" value="DRIVING" checked /> Driving</label>
                <label><input type="radio" name="travelMode" value="BICYCLING" /> Bicylcing</label>
                <label><input type="radio" name="travelMode" value="TRANSIT" /> Public transport</label>
                <label><input type="radio" name="travelMode" value="WALKING" /> Walking</label>
            </div>
        </div>
        <input type="submit" value="Calculate route">
</form>