<!-- #TODO: form_for this  -->
<!-- #TODO: Allow From: to be current location, manual, or from saved place  -->

<form action="/foamer" onSubmit="calcRoute();return false;" id="routeForm">
        <div style="overflow: hidden; width: 500px; margin: 0 auto;">
            <div style="width: 350px; float: left; text-align: left;">
                <label>
                    From: </br><em>This doesn't do anything, hard set to geolocation</em><br />
                    <input type="text" id="routeStart" value=<%= @lat_lng[0] + "," + @lat_lng[1] %>
                </label>
                <label>
                    To: <br />
                    <input type="text" id="routeVia" value="">
                </label>
                <label>
                    Time to Arrive: <br />
                    <input type="text" id="arrivalTime" value="">
                </label>
            </div>
            <div style="width: 150px; float: left; text-align: left;">
                <label>Travel mode:</label>
                <label><input type="radio" name="travelMode" value="DRIVING" /> Driving</label>
                <label><input type="radio" name="travelMode" value="BICYCLING" /> Bicylcing</label>
                <label><input type="radio" name="travelMode" value="TRANSIT" checked /> Train or Bus</label>
                <label><input type="radio" name="travelMode" value="WALKING" /> Walking</label>
            </div>
        </div>
        <input type="submit" value="Calculate route">
    </form>