<h1>Home</h1>

<%= request.env["omniauth.auth"] %>

<p>
  <ul>
    <% if user_signed_in? %>
        <% @calendars.items.each do |calendar| %>
            <li><%= calendar["summary"] %></li>
            <% calendar["defaultReminders"].each do |reminder| %>
                <li>Method: <%= reminder.method %></li>
                <li>Time: <%= reminder.minutes %></li>
            <% end %>
        <% end %>
    <% end %>
  </ul>
</p>