<style type="text/css">
#mapContainer {
    height: 250px;
    width: 280px;
    /*border:5px solid #eaeaea;*/
}

#locationPanel ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 280px
}

#locationPanel li {
    height: 45px;
    width: 280px;
    font-family: 'Open Sans', sans-serif;
    margin: 2.5px 0 2.5px 0;
    position: relative;
}

</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="assets/home.js"></script>

<div class="wrapper">
    <div class="arrowleft"></div>
        <div class="content">

          <div class="agendaview">  
            <ul>
                <li>
                    <div class="icon"><img src="/assets/train.gif"></div> 
                    <div class="time"><%= @events[0][:start].in_time_zone(@events[0].timezone).strftime("%l:%M%P") %></div>
                    <div class="eventTitle"><%= @events[0][:summary] %></div>            

                </li>
            </ul>
          </div><!--/agendaview-->

            <div class="locationPanel">
                <ul>
                    <li>From:<br> <%= current_user.places.find_by_name("Current Location").name %></li>
                    <li>To:<br> <%= @events[0][:location] %></li>
                </ul>
            </div>

            <div class="fullday" id="mapContainer">
              <!-- <img src="direction.png"> -->
            </div><!--/fullday-->
            
            <div id="directionsPanel">
              1. Turn Left out of the Merchandise Mart.<br> 2. Enter Brown line heading South.<br> 3. Take the train two stops South to Quincy.
            </div>

        </div><!--/content-->

    <div class="arrowright">
        
    </div>

</div><!--/wrapper-->

<script type="text/javascript">
    $(initialize());
</script>
  
<script type="text/javascript">
    $(calcRoute());
</script>

<%#= debug @events %>
<%#= debug current_user %>


