<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Locked, now let's load.</p></h1>
            <h2>We've signed you in with your Google account. Now we're going to grab your calendars and events. If you're cool with that, click "Go" to get started.</h2>
            <h2><%= link_to "Get Calendars", get_calendars_path, :class => "zocial google" %></h2>    
        </div>

</div><!--/wrapper-->
