<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Calendar, meet maps!</h1>
            <h2>Map out your entire day with a single click. Sign in with your Google account to start.</h2>
            <h2><a href="/signin" class="zocial google">Sign In &raquo;</a></h2>    
        </div>

</div><!--/wrapper-->