<%#TODO: use jQuery to check if addresses were actually entered  %>
<%#TODO: use Google Places API to get address/lat/long for name  %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- #TODO: This is a hack to capture latlng which is used immediately in the home view. Move this to welcome screen once we have them. -->
<script type="text/javascript">
  $(document).ready(function() {
      $(initialize());
  });
</script>

<div class="wrapper">
  <div class="content">
    <% if @events_no_address.size > 0 %>
      <div class="daynav">
        <img src="/assets/logo.png">
      </div><!-- /daynav-->
      <p class="introtext">We need some info and addresses to map your day.</p>
      <%= render 'travel_mode_form' %>  
      <p class="introtext">Enter event locations.</p>
      <div class="agendaview">
        <ul>
          <% @events_no_address.each do |event| %>
            <%= render 'event_review_form', :event => event %>
          <% end %>
        </ul>
      </div><!--/agendaview-->
    <% else %>
      <p><h2>You have addresses for your events. Thanks for that.</h2></p>
    <% end %>

    <p><h2><%= link_to "Map 'em!", home_path, :class => "zocial google" %></h2></p>           
  </div><!--/content-->
</div><!--/wrapper-->

<%= render 'submittable', :formats => [:js] %>