<%#TODO: use jQuery to check if addresses were actually entered  %>
<%#TODO: use Google Places API to get address/lat/long for name  %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<!-- #TODO: This is a hack to capture latlng which is used immediately in the home view. Move this to welcome screen once we have them. -->
<script type="text/javascript">
    $(document).ready(function() {
        $(initialize());
    });
</script>

<div class="wrapper">
    
        
        <div class="content">

        <% if @events_no_address.size > 0 %>
          <h1>We need addresses for these events. If you want, you can skip them.</h1>
          <div class="agendaview">
            <ul>
              <% @events_no_address.each do |event| %>
                <%= render 'event_review_form', :event => event %>
              <% end %>
            </ul>
          </div><!--/agendaview-->
        <% else %>
            <p><h2>You have addresses for your events. Thanks for that.</h2></p>
        <% end %>

          <h2>How do you want to get around today?</h2>
          <%= render 'travel_mode_form' %>  
          <p><h2><%= link_to "Map 'em!", home_path, :class => "zocial google" %></h2></p>           
        </div><!--/content-->

</div><!--/wrapper-->

<script type="text/javascript">
  $(document).ready(
    $('.submittable').on('change', function() {
      $(this).parents('form:first').submit();
    })
  );

  $(document).ready(function(){


  $('.submittable').on('click', function() {
        $(".clickable").removeClass("clickable"); 
          console.log("workin on it");
          var buttonid = $(this).attr('id');
          $('#' + buttonid).addClass("clickable");         
        });
    
  });


</script>