<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Too much free time?</h1>
            <h2><img src="/assets/no_events.gif" alt="nothing"></h2>
            <h2>We didn't find any events in your Google Calendar. You want to add some and try again?</h2>
            <h2><a href="/refresh" class="zocial google">Try Again &raquo;</a></h2>    
        </div>

</div><!--/wrapper-->