<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Too much free time?</h1>
            <h2><img src="/assets/no_events.gif" alt="nothing"></h2>
            <h2>We didn't find any events today's calendar. Click <a href="/refresh" class="zocial google">Refresh &raquo;</a> to refresh your events from Google Calendar.</h2>
            <h2></h2>    
        </div>

</div><!--/wrapper-->