<div class="wrapper">
    
        
        <div class="hero-unit">
            <h1>Finally:</p></h1>
            <h2>How do you want to get around today?</h2>
            <h3>(You can change your travel mode for each event)</h3>
            <h2><% #TODO: form to save user's default travel mode %></h2>
            <h2>FORM WOULD GO HERE</h2>
            <h2><%= link_to "Let's Trip!", home_path, :class => "zocial google" %></h2>    
        </div>

</div><!--/wrapper-->
