<div class="wrapper">
    
        
        <div class="hero-unit">
            <h2>What's your default mode of travel?</h2>
            <h2>(You can change your travel mode for each event)</h2>
            
          <h2>            
         	<%= render 'travel_mode_form' %>	
          </h2>

            <h2><%= link_to "Back to Maps!", home_path, :class => "zocial google" %></h2>    
        </div>

</div><!--/wrapper-->
